<div class="row">
  <div class="col-5">
    <app-liste (eventToCv)="getClickedCandidate($event)"></app-liste>
  </div>
  <div class="col-7">
    @if (selectedCandidate) {
    <app-details [targetCandidate]="selectedCandidate"></app-details>

    } @else {
    <h4>Veuillez sélectionner un candidat...</h4>
    }
  </div>
</div>
<app-recruter></app-recruter>

<!-- 
<button (click)="onAddCandidate()" class="btn btn-success">
  Add Candidate
</button>

<button (click)="showCandidates()" class="btn btn-danger">
  Show Candidates from CV
</button> -->
