@if (showError) {
<div class="alert alert-danger">Login et/ou mot de passe invalide(s)</div>

}

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <label for="">Login</label>
  <input
    #inpLogin="ngModel"
    ngModel
    type="text"
    class="form-control"
    name="email"
    required
    email
  />

  @if (inpLogin.invalid && inpLogin.touched) {
  <div class="alert alert-danger">Veuillez saisir une adresse mail</div>
  }

  <label for="">Mot de passe</label>
  <input
    ngModel
    name="password"
    type="text"
    class="form-control"
    required
    minlength="4"
  />

  <!-- 

  <div ngModelGroup="infos" #divInfos="ngModelGroup">
    <label for="">Compétences</label>
    <select name="competence" [ngModel]="defaultComptence" class="form-control">
      @for (competence of listeCompetences; track $index) {
      <option [value]="competence">{{ competence }}</option>
      }
    </select>

    {{ defaultComptence }}
    <br />

    Commentaire :
    <textarea
      name="commentaire"
      [(ngModel)]="myComment"
      cols="5"
      rows="4"
      class="form-control"
    ></textarea>

    {{ myComment }}
  </div>

  <br />

  <label for="">Gestion des erreurs</label>
  <input
    #inpErrors="ngModel"
    ngModel
    name="erreurs"
    type="text"
    required
    minlength="5"
    pattern="nidhal"
    class="form-control"
  />
  @if (inpErrors.invalid) { @if(inpErrors.errors['required']) {
  <div class="alert alert-danger">Ce champ est obligatoire</div>
  } @if(inpErrors.errors['minlength']) {
  <div class="alert alert-danger">Le nombre minimal de caractères est 5</div>
  } @if(inpErrors.errors['pattern']) {
  <div class="alert alert-danger">Le pattern est "nidhal"</div>
  } } -->

  <button [disabled]="f.invalid" type="submit" class="btn btn-primary">
    Se connecter
  </button>
  <!-- <button (click)="onReset(f)" type="button" class="btn btn-warning">
    Reset
  </button>
  <button (click)="modifierForm(f)" type="button" class="btn btn-info">
    Modifier
  </button> -->

  <pre>
    {{ f.value | json }}
  </pre>
</form>
