<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <label for="">Prénom</label>
  <input
    [ngModel]="candidateToUpdate?.prenom"
    name="prenom"
    type="text"
    class="form-control"
  />

  <label for="">Nom</label>
  <input
    [ngModel]="candidateToUpdate?.nom"
    ngModel
    name="nom"
    type="text"
    class="form-control"
  />

  <label for="">Age</label>
  <input
    [ngModel]="candidateToUpdate?.age"
    ngModel
    name="age"
    type="number"
    class="form-control"
  />

  <label for="">Profession</label>
  <input
    [ngModel]="candidateToUpdate?.profession"
    ngModel
    name="profession"
    type="text"
    class="form-control"
  />

  <label for="">Avatar</label>
  <input
    [ngModel]="candidateToUpdate?.avatar"
    ngModel
    name="avatar"
    type="text"
    class="form-control"
  />

  <br />
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
